<div class="col-md-6 offset-md-3">
    <h3 class="text-center">Registrarse como administrador</h3>


    <form (ngSubmit)="onSubmit()" #adminForm="ngForm">
        <div class="form-group">
            <label>Nombre: </label>
            <input type="text"
            class="form-control"
            id="nombre"
            [(ngModel)]="administrador.nombre"
            name="nombre"
            required
            minlength="4"
            maxlength="10"
            placeholder="Ingrese su nombre:"
            #nombre="ngModel">

            <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                <div *ngIf="nombre.errors.required">
                    Escriba su nombre, por favor
                </div>
                <div *ngIf="nombre.errors.minlength">
                    Su nombre es demasiado corto 
                </div><div *ngIf="nombre.errors.maxlength">
                    Su nombre es demasiado largo
                </div>
            </div>

            <label>Apellido: </label>
            <input type="text"
            class="form-control"
            id="apellido"
            [(ngModel)]="administrador.apellido"
            name="apellido"
            required
            minlength="4"
            maxlength="10"
            placeholder="Ingrese su apellido:"
            #apellido="ngModel">

            <div class="alert alert-danger" *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)">
                <div *ngIf="apellido.errors.required">
                    Escriba su apellido, por favor
                </div>
                <div *ngIf="apellido.errors.minlength">
                    Su apellido es demasiado corto 
                </div><div *ngIf="apellido.errors.maxlength">
                    Su apellido es demasiado largo
                </div>
            </div>

            <label>email: </label>
            <input type="text"
            class="form-control"
            id="email"
            [(ngModel)]="administrador.email"
            name="email"
            pattern="[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*@[a-zA-Z0-9_]+([.][a-zA-Z0-9_]+)*[.][a-zA-Z]{1,5}"
            required
            minlength="4"
            maxlength="10"
            placeholder="Ingrese su email:"
            #email="ngModel">

            <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
                <div *ngIf="email.errors.required">
                    Escriba su email por favor
                </div>
                <div *ngIf="email.errors.pattern">
                    Por favor escriba su email con el sig. formato: user1231@gmail.com 
                </div>
            </div>

            <div class="form-group">
                <label>Telefono: </label>
                <input type="text" 
                class="form-control" 
                id="cellphone"
                [(ngModel)]="administrador.telefono"
                name="telefono"
                placeholder="Escriba su telefono:"
                required>
            </div>
    
            <div class="form-group">
                <label>DNI: </label>
                <input type="text" 
                class="form-control" 
                id="dni" 
                [(ngModel)]="administrador.dni"
                name="dni"
                placeholder="Escriba su dni:"
                required>
            </div>

            <div class="form-group">
                <label>Telefono: </label>
                <input type="text" 
                class="form-control" 
                id="telefono" 
                [(ngModel)]="administrador.telefono"
                name="telefono"
                placeholder="Escriba su telefono:"
                required>
            </div>
    
            <div class="form-group">
                <label>Contraseña: </label>
                <input type="password" 
                class="form-control" 
                id="password" 
                [(ngModel)]="administrador.password"
                name="password"
                placeholder="Escriba su contraseña:"
                required>
            </div>

        </div>
        <button class="btn btn-success" [disabled]="!adminForm.form.valid">Guardar</button>
    </form>
</div>