<h2>Lista clientes</h2>

<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>Num</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody *ngFor="let cliente of clientes">
        <tr>
            <th>{{cliente.id}}</th>
            <th>{{cliente.nombre}}</th>
            <th>{{cliente.apellido}}</th>
            <th>{{cliente.email}}</th>
            <button (click)="actualizarCliente(cliente.id)" class="btn btn-info">Actualizar</button>
            <button (click)="eliminarCliente(cliente.id)" class="btn btn-danger" style="margin-left: 10px;">Eliminar</button>
            <button (click)="verDetallesCliente(cliente.id)" class="btn btn-primary">Detalles</button>
        </tr>
        
            
    </tbody>
</table>