<h3>Detalles cliente</h3>

<div class="">
  <div>
    <label><b>Id:</b> {{ cliente.id }}</label>
  </div>
  <div>
    <label><b>Nombre:</b> {{ cliente.nombre }}</label>
  </div>
  <div>
    <label><b>Apellido:</b> {{ cliente.apellido }}</label>
  </div>
  <div>
    <label><b>Email:</b> {{ cliente.email }}</label>
  </div>
  <div>
    <label><b>Telefono:</b> {{ cliente.telefono }}</label>
  </div>
  <div>
    <label><b>DNI:</b> {{ cliente.dni }}</label>
  </div>
  <div>
    <label><b>Servicio:</b> {{ cliente.tipoCliente }}</label>
  </div>
</div>
