<div>
    <form #clienteForm="ngForm">
        <div>
        <div class="row g-3 align-items-center" style="margin-top: 1px; justify-content: space-between;">

            <!-- Seccion Num Cuenta -->
            <div class="col-auto" style="padding-right: 0%;">
                <label for="numCuenta" class="col-form-label"  style="font-size:small;"><b>Num. de Cuenta</b></label>
            </div>
            <div class="col-auto" style="padding-left: 0%;">
                <input type="number" 
                class="form-control" 
                id="numCuenta"
                style="width: 130px; font-size:small;"
                [(ngModel)]="cliente.numCuenta"
                name="numCuenta"
                required
                #numCuenta = "ngModel"
                placeholder="Num. Cuenta">
            </div>

            <!-- Seccion nombre -->
            <div class="col-auto" style="padding-right: 0%;">
                <label for="nombre" class="col-form-label"  style="font-size:small;"><b>Nombre</b></label>
            </div>
            <div class="col-auto" style="padding-left: 0%;">
                <input type="text" 
                class="form-control" 
                id="nombre" 
                style="font-size:small;"
                [(ngModel)]="cliente.nombre"
                name="nombre"
                required
                minlength="4"
                maxlength="10"
                placeholder="Ingrese su nombre"
                #nombre = "ngModel">
            </div>


            <!-- Seccion Apellido -->
            <div class="col-auto" style="padding-right: 0%;">
                <label for="apellido" class="col-form-label"  style="font-size:small;"><b>Apellido</b></label>
            </div>
            <div class="col-auto" style="padding-left: 0%;">
                <input type="text" 
                class="form-control" 
                id="apellido" 
                style="font-size:small;"
                [(ngModel)]="cliente.apellido"
                name="apellido"
                required
                minlength="4"
                maxlength="10"
                placeholder="Ingrese su apellido"
                #apellido="ngModel">
            </div>

            <div class="col-auto" style="padding-right: 0%;">
                <label for="dni" class="col-form-label" style="font-size:small;"><b>DNI</b></label>
            </div>
            <div class="col-auto" style="padding-left: 0%;">
                <input type="text" 
                class="form-control" 
                id="dni" 
                style="font-size:small;"
                [(ngModel)]="cliente.dni"
                name="dni"
                required
                placeholder="Ingrese su DNI"
                #dni="ngModel">
            </div>

            
        </div>
    

        <div class="mb-3">
            <label for="email" class="form-label">Email</label>
            <input type="email" 
            class="form-control" 
            id="email" 
            [(ngModel)]="cliente.email"
            name="email"
            required
            placeholder="Ingrese su email: name@example.com"
            #email="ngModel">
        </div>
        <div class="mb-3">
            <label for="telefono" class="form-label">Telefono</label>
            <input type="text" 
            class="form-control" 
            id="telefono" 
            [(ngModel)]="cliente.telefono"
            name="telefono"
            required
            placeholder="Ingrese su telefono"
            #telefono="ngModel">
        </div>
        <div class="mb-3">
            
            
        </div>
        <div class="mb-3">
            <label for="tipoCliente" class="form-label">Servicio abonado</label>
            <input type="text" 
            class="form-control" 
            id="tipoCliente" 
            [(ngModel)]="cliente.tipoCliente"
            name="tipoCliente"
            required
            minlength="4"
            maxlength="10"
            placeholder="Ingrese su servicio"
            #tipoCliente="ngModel">
        </div>
        <div class="mb-3">
            <label for="servicioAbonado" class="form-label">Servicio telefono</label>
            <input type="text" 
            class="form-control" 
            id="servicioAbonado" 
            [(ngModel)]="cliente.servicioAbonado"
            name="servicioAbonado"
            required
            minlength="4"
            maxlength="10"
            placeholder="Ingrese su servicio de telefono"
            #servicioAbonado="ngModel">
        </div>
        <button class="btn btn-success" [disabled]="!clienteForm.form.valid" (click)="onSubmit()">Guardar</button>
        </div>
        
    </form>
</div>