<p>info-cliente works!</p>
    <div class="container">
        <div class="campo">
            <th>
                <tr>Num Cuenta: <span>{{ cliente.numCuenta }}</span></tr>
                <tr>Nombre: <span>{{ cliente.nombre }}</span></tr>
                <tr>Apellido: <span>{{ cliente.apellido }}</span></tr>
                <tr>Email: <span>{{ cliente.email }}</span></tr>
                <tr>Telefono: <span>{{ cliente.telefono }}</span></tr>
                <tr>DNI: <span>{{ cliente.dni }}</span></tr>
                <tr>Tipo de cliente: <span>{{ cliente.tipoCliente }}</span></tr>
                <tr>Empresa: <span>{{ cliente.empresa }}</span></tr>
                <tr>Cuenta: <span>{{ cliente.cuenta }}</span></tr>
                <tr>Estado: <span>{{ cliente.estado }}</span></tr>
                <tr>Tipo: <span>{{ cliente.tipo }}</span></tr>
                <tr>Numero de tarjeta: <span>{{ cliente.numTarjeta }}</span></tr>
                <tr>Domicilio: <span>{{ cliente.domicilio }}</span></tr>
                <tr>Localidad: <span>{{ cliente.localidad }}</span></tr>
                <tr>Provincia: <span>{{ cliente.provincia }}</span></tr>
                
                
                
            </th>
        </div>
            

            
            
            
        <div class="campo">
            <th>
                <tr>Tipo de cuenta: <span>{{ cliente.tipoCuenta }}</span></tr>
                <tr>Comunicador: <span>{{ cliente.comunicador }}</span></tr>
                <tr>Comodato: <span>{{ cliente.comodato }}</span></tr>
                <tr>ClickApp: <span>{{ cliente.clickApp }}</span></tr>
                <tr>NTLinkSerie: <span>{{ cliente.ntLinkSerie }}</span></tr>
                <tr>Linea de Alarma: <span>{{ cliente.lineaAlarma }}</span></tr>
                <tr>Cod. Instalador: <span>{{ cliente.codInstalador }}</span></tr>
                <tr>Tipo de Alarma: <span>{{ cliente.tipoAlarma }}</span></tr>
                <tr>Comprobante: <span>{{ cliente.comprobante }}</span></tr>
                <tr>Cuenta 3ros: <span>{{ cliente.cuentaTerceros }}</span></tr>
                <tr>Peridodo: <span>{{ cliente.peridodo }}</span></tr>
                <tr>Fecha de Alta: <span>{{ cliente.fechaAlta }}</span></tr>
                <tr>Fecha de Baja: <span>{{ cliente.fechaBaja }}</span></tr>
                <tr>Cobrador: <span>{{ cliente.cobrador }}</span></tr>
                <tr>Abonado: <span>{{ cliente.abonado }}</span></tr>
            </th>
        </div>
</div>       
        
    
        

  
        
    
        
