<p>info-cliente works!</p>
    <div class="container">
        <div class="header">
            <th>
                <tr>Num Cuenta: </tr>
                <tr>Nombre: </tr>
                <tr>Apellido: </tr>
                <tr>Email: </tr>
                <tr>Telefono: </tr>
                <tr>DNI: </tr>
                <tr>Tipo de cliente: </tr>
                <tr>Empresa: </tr>
                <tr>Cuenta: </tr>
                <tr>Estado: </tr>
                <tr>Tipo: </tr>
                <tr>Numero de tarjeta: </tr>
                <tr>Domicilio: </tr>
                <tr>Localidad: </tr>
                <tr>Provincia: </tr>
                <tr>Tipo de cuenta: </tr>
                <tr>Comunicador: </tr>
                <tr>Comodato: </tr>
                <tr>ClickApp: </tr>
                <tr>NTLinkSerie: </tr>
                <tr>Linea de Alarma: </tr>
                <tr>Cod. Instalador: </tr>
                <tr>Tipo de Alarma: </tr>
                <tr>Comprobante: </tr>
                <tr>Cuenta 3ros: </tr>
                <tr>Peridodo: </tr>
                <tr>DIN: </tr>
                <tr>Fecha de Alta: </tr>
                <tr>Fecha de Baja: </tr>
                <tr>Cobrador: </tr>
                <tr>Abonado: </tr>
            </th>
        </div>
        <div class="body">
            <th>
                <tr>{{ cliente.numCuenta }}</tr>
                <tr>{{ cliente.nombre }}</tr>
                <tr>{{ cliente.apellido }}</tr>
                <tr>{{ cliente.email }}</tr>
                <tr>{{ cliente.telefono }}</tr>
                <tr>{{ cliente.dni }}</tr>
                <tr>{{ cliente.tipoCliente }}</tr>
                <tr>{{ cliente.empresa }}</tr>
                <tr>{{ cliente.cuenta }}</tr>
                <tr>{{ cliente.estado }}</tr>
                <tr>{{ cliente.tipo }}</tr>
                <tr>{{ cliente.numTarjeta }}</tr>
                <tr>{{ cliente.domicilio }}</tr>
                <tr>{{ cliente.localidad }}</tr>
                <tr>{{ cliente.provincia }}</tr>
                <tr>{{ cliente.tipoCuenta }}</tr>
                <tr>{{ cliente.comunicador }}</tr>
                <tr>{{ cliente.comodato }}</tr>
                <tr>{{ cliente.clickApp }}</tr>
                <tr>{{ cliente.ntLinkSerie }}</tr>
                <tr>{{ cliente.lineaAlarma }}</tr>
                <tr>{{ cliente.codInstalador }}</tr>
                <tr>{{ cliente.tipoAlarma }}</tr>
                <tr>{{ cliente.comprobante }}</tr>
                <tr>{{ cliente.cuentaTerceros }}</tr>
                <tr>{{ cliente.peridodo }}</tr>
                <tr>{{ cliente.din }}</tr>
                <tr>{{ cliente.fechaAlta }}</tr>
                <tr>{{ cliente.fechaBaja }}</tr>
                <tr>{{ cliente.cobrador }}</tr>
                <tr>{{ cliente.abonado }}</tr>
            </th>
        </div>
        
    </div>
        
    
        
